{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
      <div class="row mt-5">
      {% for n in [5,7,3,8,9,11] %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{tours[n]["picture"] }}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{tours[n]["title"] }}</h2>
            <p class="card-text">{{tours[n]["description"]|truncate(200)}}</p>
            <a href="tours/{{n}}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    
    {% endfor %}
  </div>
  </main>
  {% endblock %}
